/* General */
body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: #353535;
}

#calendarWrapper {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: #353535;
    background: #fff;
    z-index: 1;
    transition: opacity 150ms ease-in-out;
}

.hide {
    display: none;
}

.lowOpacity {
    opacity: .6;
}

.headline {
    font-size: 1.3vw;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

/* Header */
header {
    width: 95vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 2vw;
    font-size: 1.5vw;
}

header #selectMonth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header #selectMonth #arrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

header #selectMonth #arrowWrapper i {
    margin: 0 1vmin;
    cursor: pointer;
    user-select: none;
    font-size: 2vmin;
    border-radius: 100%;
    padding: 1.4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vmin;
    height: 2vmin;
    transition: background-color 300ms ease-in-out;
}

header #selectMonth #arrowWrapper i:hover {
    background-color: #d3d3d333;
}

header #selectMonth #arrowWrapper i:active {
    background-color: lightgray;
}

header h1 {
    margin: 0;
    font-size: 2.3vw;
    margin-right: 10vw;
    user-select: none;
}

header #titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#createTerm {
    padding: 1.2vh;
    font-size: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #5e9def;
    border-radius: 7px;
    color: #353535;
    cursor: pointer;
    user-select: none;
    transition: 300ms ease-in-out background, 300ms ease-in-out color;
}

#createTerm:hover {
    background: #5e9def;
    color: white;
}

#createTerm i {
    margin: 0 0 0 1vw;
}

/* Table */
#tableWrapper {
    width: 80vw;
    height: 92vh;
    border: #dadce0 1.5px solid;
    border-right: none;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 200ms ease-in-out;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tableCell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-bottom: #dadce0 1px solid;
    border-right: #dadce0 1px solid;
}

.dateInfoWrapper {
    width: 100%;
    margin: .5vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: .9vw;
}

.dateInfoWrapper .dayOfMonth {
    width: 3.5vmin;
    height: 3.5vmin;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 300ms ease-in-out;
}

.dateInfoWrapper .dayOfMonth:hover {
    background: #dadce093;
}

.dateInfoWrapper .currentDay {
    background: #1a73e8;
    color: white;
}

.dateInfoWrapper .currentDay:hover {
    color: white;
    background: #1a73e8;
}

.lastOrNextMonth {
    color: #9a9a9a;
}

.termAllDay {
    background: #0091f2;
    color: white;
    font-size: .9vw;
    width: 80%;
    padding: .5vh 5%;
    margin-top: .5vh;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}

.termAllDay:hover {
    background: #166ba2;
}

.termTime {
    background: transparent;
    color: #353535;
    font-size: .9vw;
    width: 80%;
    padding: .5vh 5%;
    margin-top: .5vh;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}

.termTime:hover {
    background:#ecedef;
}

.termTime .termCircle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0091f2;
    margin: 0 .3vw 0 0;
}

.termTime strong {
    margin: 0 0 0 .5vw;
}

/* Overview */
#overview {
    width: 20vw;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-top: #dadce0 1.5px solid;
    border-bottom: #dadce0 1.5px solid;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.overviewTerm {
    width: 80%;
    background: #5e9def;
    color: white;
    border-radius: 10px;
    margin: 1.5vh 0;
    padding: 0 2.5%;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 5px 15px 0px;
}

.overviewSubject {
    font-weight: bold;
}

.overviewTerm p {
    margin: 1vh;
}

/* Create Term Window */
#createTermContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#addTermWrapper {
    width: 35vw;   
    height: 40vh;
    position: absolute;
    left: 32.5vw;
    top: 25vh;
    margin: 0;
    padding: 2vh 1vw;
    background: white;
    opacity: 0;
    transform: scale(.6);
    box-shadow: rgba(0, 0, 0, 0.25) 2px 5px 15px 0px;
    border-radius: 10px;
    transition: 100ms transform ease-in-out, 100ms opacity ease-in-out;
    z-index: 100;
}

.showCreateWindow {
    opacity: 1 !important;
    transform: scale(1) !important;
}

#addTermWrapper input {
    border: none;
    border-bottom: 1.5px solid lightgray;
    outline: none;
    margin: 0 .5vw;
    transition: border-color 300ms ease-in-out, opacity 300ms ease-in-out;
}

#addTermWrapper input:focus {
    border-color: #0091f2;
}

#subjectWrapper {
    margin: 4vh 0 0 0;
}

#subjectWrapper input {
    font-size: 1.7vw;
    width: 70%;
}

#dateWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4vh 0;
}

#dateWrapper input {
    font-family: 'Roboto', sans-serif;
}

#dateWrapper p {
    margin: 0 1vw;
}

#submitNewTerm {
    background: #0091f2;
    color: white;
    padding: .75vw;
    border-radius: 10px;
    position: absolute;
    bottom: 2.5vh;
    right: 1.5vw;
    box-shadow: 1px 3px 5px 0px rgba(143,143,143,1);
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;
    user-select: none;
}

#submitNewTerm:hover {
    box-shadow: none;
}

#close {
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    font-size: 1.7vw;
    cursor: pointer;
}

#allDayWrapper {
    width: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#checkbox {
    width: .9vw;
    height: .9vw;
    border: 1.5px solid #0091f2;
    border-radius: 2px;
    font-size: .7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 .6vw 0 0;
    color: white;
    transition: color 200ms ease-in-out;
}

#newTermDescription {
    font-family: 'Roboto', sans-serif;
    resize: none;
    outline: none;
    width: 25vw;
    height: 10vh;
    margin: 1vw 0;
}

/* TermDetailsWrapper */
#showTermDetailsWrapper {
    width: 37vw;   
    height: 37vh;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 2vh 1vw;
    background: white;
    opacity: 0;
    transform: scale(.6);
    box-shadow: rgba(0, 0, 0, 0.25) 2px 5px 15px 0px;
    border-radius: 10px;
    transition: 100ms left ease-in-out, 100ms opacity ease-in-out, 100ms top ease-in-out;
    z-index: 100;
}

#closeDetails {
    position: absolute;
    right: 1.5vw;
    font-size: 2.5vw;
    cursor: pointer;
}

#showTermDetailsWrapper h1 {
    margin: 0;
}

#showTermDetailsWrapper p {
    font-size: 1.5vw;
}

#detailsContent {
    height: 100%;
    border-left: #0091f2 .35vw solid;
    padding: 0 0 0 1vw;
}